* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

body {
  background-color: #F1ECEC;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/static/pictures/homepage/back.jpg");
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F1ECEC !important;
  padding: 0 1vw;
}

.logo-div {
  margin-right: 2vw;
}

.nav-link {
  font-size: 1.2rem;
  margin: 0 0.5vw;
}

.nav-link:hover {
  font-size: 1.2rem;
  color: #AE360E !important;
}

.mobile-button {
  display: none;
}

.d-flex>a>.social-media-icon {
  padding-right: 1.5vw;
  transition-duration: 0.5s;
  margin-top:1vh;
}

.d-flex>a>.social-media-icon:hover {
  color: #AE360E;
}

.d-flex>a>.header-button:hover {
  color: #AE360E !important;
}

.header-links>a>.header-button:hover {
  color: #AE360E !important;
}

.phone-text {
  color: #23A55A;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 0 2vw;
  transition-duration: 0.5s;
}

.fa-phone {
  margin-right: 0.5vw;
}

.phone-text:hover {
  color: #AE360E;
}

#phone-text-mobile {
  color: #23A55A;
  display: none;
}


.d-flex>a>.fa-facebook {
  color: #4267B2;
}

.d-flex>a>.fa-instagram {
  color: #8a3ab9;
}

.d-flex>a>.fa-twitter {
  color: #1DA1F2;
}


.d-flex>a>.fa-tiktok {
  color: #ff0050;
}

.d-flex>a>.fa-youtube {
  color: #FF0000;
}

.d-flex>a>.fa-pinterest {
  color: #E60023;
}

@media (max-width:1216px) {

  .d-flex>a>.fa-pinterest, .d-flex>a>.fa-youtube {
    display: none;
  }

}

@media (max-width:1200px) {
  .phone-text {
    display: none;
  }

  #phone-text-mobile {
    display: inline;
    padding-right: 2rem;
  }

  .social-media-icon {
    padding-right: 2rem;
  }

  .social-media-icon-div {
    margin-right: 1vh;
  }
}

@media (max-width:1048px) {
  #phone-text-mobile {
    padding-right: 0;
  }

  .social-media-icon {
    padding-right: 1vw;
  }

  .social-media-icon-div {
    margin-right: 1vw;
  }
}

@media (max-width: 991px) {
  .nav-item {
    margin: 0.3vh 0vh;
  }

  .d-flex {
    margin: 2vh 0vh;
  }

  .header-links>a>.header-button {
    display: none !important;
  }

  .header {
    align-items: baseline;
  }

  .header-button {
    margin-top: 1vh;
  }

  #phone-text-mobile {
    display: inline;
    padding-right: 2rem;
  }

  .header-button-div {
    margin-left: 0.5rem;
  }

  .social-media-icon {
    margin-right: 1.5rem;
  }

  .logo-div {
    flex: 1 0 auto;
    min-width: 75%;
  }
  .d-flex>a>.fa-pinterest, .d-flex>a>.fa-youtube {
    display: inline-block;
  }
}
